{% extends "base.html" %}

{% import 'pagination.html' as pg %}
{% import 'transactions.html' as tr %}

{% block title %}勘定科目の詳細{% endblock %}

{% block body %}

<h2>勘定科目 : {{ account.name }}</h2>

<table>
    <tr><th>年月</th><th>借方</th><th>貸方</th><th>累積差分</th></tr>
    {% for d in summary %}
    <tr>
        <td>{{ d.month | ym }}</td>
        <td style="text-align: right;">{{ "{0:,}".format(d.cash_debit_amount) }}</td>
        <td style="text-align: right;">{{ "{0:,}".format(d.cash_credit_amount) }}</td>
        <td style="text-align: right;">{{ "{0:,}".format(d.cash_accum_diff) }}</td>
    </tr>
    {% endfor %}
</table>

<h3>取引</h3>

{{ tr.render_transactions(transactions) }}

{{ pg.render_pagination(pagination) }}

{% endblock %}
