{% extends "base.html" %}

{% block title %}勘定科目の削除の確認{% endblock %}

{% block body %}
{% if ref_count != 0 %}
<p>この勘定科目を参照している取引があるので削除できません。参照している取引数 = {{ ref_count }}</p>
{% else %}
<p>本当に削除するには以下の「削除」リンクを押してください。</p>
{% endif %}

<table>
    <tr>{% if ref_count == 0 %}<th>削除</th>{% endif %}<th>タイプ</th><th>名前</th></tr>
    <tr>
        {% if ref_count == 0 %}<td><a href="/accounts/delete/{{ account.account_id }}">削除</a></td>{% endif %}
        <td>{{ account.account_type | ac_type2name }}</td>
        <td>{{ account.name }}</td>
    </tr>
</table>

{% endblock %}
