{% extends "base.html" %}

{% block title %}勘定科目の{% if account.account_id %}更新{% else %}作成{% endif %}{% endblock %}

{% block body %}

{% if account.error_msg %}
<p>{{ account.error_msg }}</p>
{% endif %}

<form method="post" action="">

    <input type='hidden' name='account_id' value='{{ account.account_id }}' />
    {% if account.account_id %}
    <input type='hidden' name='account_type' value='{{ account.account_type }}' />
    {% endif %}

<table>
    {% if account.account_id %}
    <tr><th><label>タイプ:</label></th><td>{{ account.account_type_name }}</td></tr>
    {% else %}
    <tr><th><label for="id_account_type">タイプ:</label></th><td><select name="account_type" required id="id_account_type">
        <option value="">---------</option>
        {% for ac in ['資産', '負債', '収入', '支出', 'その他'] %}
        {% if loop.index == account.account_type %}
        <option value="{{ loop.index }}" selected>{{ ac }}</option>
        {% else %}
        <option value="{{ loop.index }}">{{ ac }}</option>
        {% endif %}
        {% endfor %}
        </td></tr>
    {% endif %}

    <tr><th><label for="id_name">名前:</label></th><td><input type="text" name="name" value="{{ account.name }}" required id="id_name" /></td></tr>

    <tr><th><label for="id_search_words">検索ワード:</label></th><td><input type="text" name="search_words" value="{{ account.search_words }}" id="id_search_words" /></td></tr>

    <tr><td colspan='2'><input type="submit" value="{% if account.account_id %}更新{% else %}作成{% endif %}"></td></tr>
</table>
</form>

{% endblock %}
