{% extends "base.html" %}

{% block title %}list accounts{% endblock %}

{% block body %}

<p>
    <a href="/accounts/create">create</a>
</p>

<table>
    <tr><th>delete</th><th>type</th><th>name</th><th>update</th></tr>
    {% for d in accounts %}
    <tr>
        <td><a href="/accounts/confirm_delete/{{ d.account_id }}">delete</a></td>
        <td>{{ d.account_type | ac_type2name }}</td>
        <td><a href="/accounts/{{ d.account_id }}">{{ d.name }}</a></td>
        <td><a href="/accounts/update/{{ d.account_id }}">update</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
