{% extends "base.html" %}

{% block title %}勘定科目の一覧{% endblock %}

{% block body %}

<p>
    <a href="/accounts/create">作成</a>
</p>

<table>
    <tr><th>削除</th><th>タイプ</th><th>名前</th><th>検索ワード</th><th>更新</th></tr>
    {% for d in accounts %}
    <tr>
        <td><a href="/accounts/confirm_delete/{{ d.account_id }}">削除</a></td>
        <td>{{ d.account_type | ac_type2name }}</td>
        <td><a href="/accounts/{{ d.account_id }}">{{ d.name }}</a></td>
        <td>{{ d.search_words }}</td>
        <td><a href="/accounts/update/{{ d.account_id }}">更新</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
