{% extends "base.html" %}

{% block title %}chart{% endblock %}

{% block body %}

<p>
{% for y in years %}
{% if y == year %}
{{ y }} 
{% else %}
<a href="/chart/year/{{ y }}">{{ y }}</a> 
{% endif %}
{% endfor %}
</p>

<svg class="stack"></svg>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename='js/bar.js') }}"></script>

<script>
var dt = new Date();
var startMonth = {{ year }} * 100 + 1;
var endMonth = {{ year }} * 100 + 12;

drawBarChart('svg.stack', startMonth, endMonth, 12);
</script>

{% endblock %}
