{% extends "base.html" %}

{% import 'transactions.html' as tr %}
{% import 'history.html' as hl %}

{% block title %}transaction{% endblock %}

{% block body %}

{{ tr.render_transactions([transaction]) }}

<h3>history</h3>

{{ hl.render_history(history) }}

<h3>debug</h3>

<table>
    <tr><th>month</th><th>name</th><th>accrual debit </th><th>accrual credit </th><th>cash debit </th><th>cash credit </th></tr>
    {% for d in summary %}
    <tr>
        <td>{{ d.month }}</td>
        <td>{{ d.name }}</td>
        <td style="text-align: right;">{{ "{0:,}".format(d.accrual_debit_amount) }}</td>
        <td style="text-align: right;">{{ "{0:,}".format(d.accrual_credit_amount) }}</td>
        <td style="text-align: right;">{{ "{0:,}".format(d.cash_debit_amount) }}</td>
        <td style="text-align: right;">{{ "{0:,}".format(d.cash_credit_amount) }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
