{% macro render_transactions(transactions, is_confirm_delete=False) %}
<table>
    <tr><th>ID</th>{% if not is_confirm_delete %}<th>更新</th>{% endif %}<th>日付</th><th>借方</th><th>金額</th><th>貸方</th><th>説明</th><th>開始</th><th>終了</th><th>削除</th></tr>
    {% for d in transactions %}
    <tr>
        <td><a href="/transactions/{{ d.transaction_id }}">{{ d.transaction_id }}</a></td>
        {% if not is_confirm_delete %}
        <td><a href="/transactions/update/{{ d.transaction_id }}?next={{ request.full_path | urlencode }}">更新</a></td>
        {% endif %}
        <td>{{ d.date }}</td>
        <td><a href="/accounts/{{ d.debit_id }}">{{ d.debit }}</a></td>
        <td style="text-align: right;">{{ "{0:,}".format(d.amount) }}</td>
        <td><a href="/accounts/{{ d.credit_id }}">{{ d.credit }}</a></td>
        <td>{{ d.description }}</td>
        <td>{% if d.start_month != 0 %}{{ d.start_month }}{% endif %}</td>
        <td>{% if d.end_month != 0 %}{{ d.end_month }}{% endif %}</td>
        {% if is_confirm_delete %}
        <td><a href="/transactions/delete/{{ d.transaction_id }}?next={{ request.args.get('next') | urlencode }}">削除</a></td>
        {% else %}
        <td><a href="/transactions/confirm_delete/{{ d.transaction_id }}?next={{ request.full_path | urlencode }}">削除</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endmacro %}
